
.contadorVisitas{
    font-size: 30px;
    font-weight: bold;
    background-color: #3b46de;
    color: white;
    padding: 15px;
}


button{
    width: 200px;
    height: 50px;
    background-image: linear-gradient(#6988ff, #181fbb);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin-top: 50px;    
}